@(user: models.User , levelForm: Form[models.Level])
@import helper._
@import models.Player;
@main("Security App",user){

<p> Welcome to level one. A simple one to get you started. Just put in the password to go to the next level.</p>

<!-- The password for this level is "insecure". -->
<div class="col col-sm-9">

  																
                               
		@form(action = routes.GameController.authenticate()) {
<div class="col col-sm-9">
																	
                                @inputPassword(levelForm("password"),
                                    '_label -> "Password",
                                    '_showConstraints -> false,
									'class -> "form-control")
									
									<div class="actions">
                                    <button type="submit" value="Submit" class="btn btn-custom" >Signin</button>
									</div>
    </div>
	 }
</div>
	
	<div class ="col col-sm-9">
	
	 @if(user.asInstanceOf[Player].hint==0){
	<form action = "/hint" method = "GET">
			<button type="submit" formaction = "/hint:@user.email" value="Submit" class="btn btn-custom" >Hint</button>
	</form>
	}
	 
	 @if(user.asInstanceOf[Player].hint==1){
	   
		 <p>Hint sometimes webDesigners like to leave notes to themselves in the comments</p>
		
		
		
		<form action = "/solution" method = "GET">
			<button type="submit" formaction = "/solution:@user.email" value="Submit" class="btn btn-custom" >Solution</button>
	</form>
	
									
	 @if(user.asInstanceOf[Player].solution==1){
		
		<p>solution is to right click on the page and view the source</p> 
		}
	}
		</div>
		</div> 



}