@(user: models.User , levelForm: Form[models.Level],result: List[models.VulnData])
@import helper._
@import models.Player;
@main("Security App",user){

<p> Welcome to level Two. </p>



<form action = "@routes.GameController.Level2()" method = "POST">
			<input type="text" name="query"><br>
			<button type="submit" formaction = "@routes.GameController.Level2()" value="query" class="btn btn-custom" >query</button>
</form>



@if(result != null){
<thead>

				<tr>
					<th>Name</th>
					<th>Password</th>
				</tr>
</thead>

 <tbody>
					@for(r <- result){
					<tr>
					<td>@r.UserName</td>
					<td>@r.password</td> 
					</tr>
					}	
</tbody>
}					




<div class="col col-sm-9">

  																
                               
		@form(action = routes.GameController.authenticate()){
<div class="col col-sm-9">
																	
                                @inputPassword(levelForm("password"),
                                    '_label -> "Password",
                                    '_showConstraints -> false,
									'class -> "form-control")
									
									<div class="actions">
                                    <button type="submit" value="Submit" class="btn btn-custom" >Signin</button>
									</div>
    </div>
	 }
</div>



	 

}