@(user: models.User, players: List[models.Player])

@main("Security App",user){


<div class="row">

 <div class="col-lg-12">
 
	
	
		<form action = "/getUserAdmin" method = "get">
			<button type="submit" formaction ="/getUserAdmin" value="Submit" class="btn btn-custom" >UserAdmin</button>
		<form action = "/resetScore" method = "get">
			<button type="submit" formaction = "/resetScore" value="Submit" class="btn btn-custom" >ResetScores</button>
		<form action = "/deletePlayer" method = "get">
			<button type="submit" formaction = "/deletePlayer" value="Submit" class="btn btn-custom" >Delete Players</button>
		<form action = "/configGame" method = "get">
		<button type="submit" formaction = "/configGame" value="Submit" class="btn btn-custom" >ConfigGame</button>
		<form action = "/startGame" method = "get">
		<button type="submit" formaction = "/startGame" value="Submit" class="btn btn-custom" >StartGame</button>
		
		</div>
		
	</div>
</div>


}