@(user: models.User, editPlayerForm: Form[models.Player], playerCur: models.Player)

    @import helper._

    @main("Edit Player!") {
        <h3> Edit a Player</h3>   
        @form(action = routes.AdminController.submitEditPlayer(playerCur.email), 'class -> "form-horizontal", 'role -> "form") {
		
            @inputText(editPlayerForm("email"), '_label -> "Email")
			@inputText(editPlayerForm("loginName"), '_label -> "LoginName")
			@inputText(editPlayerForm("password"),'_laber -> "Password")
     


            <div class="actions">
                <input type="submit" value="Edit Player" class="btn primary">

            </div>


        }
}