@(user: models.User, editPlayerForm: Form[models.User], userCur: models.User)

    @import helper._

    @main("Edit Player!",user) {
        <h3> Edit a Player</h3>   
        @form(action = routes.AdminController.submitEditUser(userCur.email), 'class -> "form-horizontal", 'role -> "form") {
		
            @inputText(editPlayerForm("email"), '_label -> "Email")
			@inputText(editPlayerForm("password"),'_laber -> "Password")
     


            <div class="actions">
                <input type="submit" value="Edit Player" class="btn btn-custom">

            </div>


        }
}