@import helper._

@(loginForm: Form[models.Login])
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Security App") {


@form(action = routes.LoginController.authenticate()) {
<div class="col col-sm-9">
  
  							
		  @inputText(loginForm("email"),
                                    '_label -> "email",
                                    'class -> "form-control")
																	
                                @inputPassword(loginForm("password"),
                                    '_label -> "Password",
                                    '_showConstraints -> false,
									'class -> "form-control")
									
									<div class="actions">
                                    <button type="submit" value="Submit" class="btn btn-custom" >Signin</button>
									</div>
    </div>
	 }
	  


		
		
	  }