@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String,user: models.User)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Security Web Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/style.css")'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body>
    
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
		@if(user == null){
		<li><a href="/register">Register</a></li>
		<li><a href="/login">Login</a></li>
		}
		<li><a href="/scoreboard">ScoreBoard</a></li>
		@if(user !=null){
		@if(user.getUserType().equalsIgnoreCase("admin")){
		<li><a href="/admin">Administration</a></li>
		}
		@if(user.getUserType().equalsIgnoreCase("player")){
		<li><a href="/level">Game</a></li>
		}
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
	  
	  @if(user.getUserType().equalsIgnoreCase("player")){
		<li><a href="/scoreboard">@user.email</a></li>
		
		}
		<li><a href="/logout">Logout</a></li>
	  }
       
      </ul>
    </div>
  </div>
  
  
</nav>
</div>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
    </body>
</html>
